.search-wrapper {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding-top: 1rem;
}

.search-input {
    background-color: var(--gradient-dark-30);
    color: var(--gradient-neutral-70);
}