.feed-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
    background-color: var(--gradient-dark-10);
}

.feed-wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
.feed-wrapper::-webkit-scrollbar-track,
.feed-wrapper::-webkit-scrollbar-corner {
    background-color: var(--gradient-neutral-70);
}
.feed-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--gradient-neutral-40);
    border-radius: 3px;
    border: var(--border-neutral-thin-70);
}

.empty-feed__message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-feed__message div {
    color: var(--brand-color-white);
    background-color: var(--gradient-dark-30);
    border-radius: 1rem;
    padding: 0.45rem;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
}

.empty-feed__message div span {
    margin-bottom: 0.3rem;
}