.chat-tile__wrapper {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    display: grid;
    box-sizing: border-box;
    width: 100%;
    grid-template-columns: 3.5rem 1fr 3rem;
    grid-template-rows: 3.5rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.selected {
    background-color: var(--gradient-blue-30);
    color: var(--brand-color-white)
}

.tile-avatar {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--gradient-blue-60);
}

.tile-avatar p {
    margin: 0 !important;
    font-size: 2rem;
}

.tile-main-content p {
    margin: 0 !important;
}

.chat-name {
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.last-message {
    font-size: 0.85rem;
    color: var(--gradient-neutral-60);
}

.tile-main-content {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}