.result-tile__wrapper {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    display: grid;
    box-sizing: border-box;
    width: 100%;
    grid-template-columns: 3.5rem 1fr auto;
    grid-template-rows: 3.5rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.tile-avatar {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--gradient-blue-60);
}

.tile-avatar > * {
    margin: 0 0 0.25rem 0 !important;
    width: 1.75rem;
    height: 1.75rem;
}

.tile-main-content p {
    margin: 0 0 0.25rem 0 !important
}

.sender-name {
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.message, .message-time {
    font-size: 0.85rem;
    color: var(--gradient-neutral-60);
}

.tile-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-time__container {
    display: flex;
    align-items: flex-end;
}